In [25]:
import pandas as pd
import numpy as np

# For Descrete Data

In [177]:
#Input
# x , f
location = "./data.xlsx"
file = pd.read_excel(location)
file

   x   f
0  0  25
1  1  16
2  2  36
3  3  48
4  4  30
5  5  16
6  6  15
7  7   3
8  8   2

In [30]:

#mean 
Xmean = np.sum(file.x * file.f)/np.sum(file.f)

print(Xmean)

2.926701570680628

# For Continuos Data

In [124]:
#Input
# x , f
locationc = "./data-conti.xlsx"
filec = pd.read_excel(locationc)
x = filec.x
f = filec.f
filec

    x  range    f
0   0     10   23
1  10     20   57
2  20     30  138
3  30     40  277
4  40     50  105
5  50     60   74
6  60     70   21

In [146]:
## mean 
#test = np.linspace(filec.x,filec.range,num=10) #change based on your requirment
#Xa = np.mean(test)

xdiff = (filec.x+filec.range)/2
change = filec.x[2]-filec.x[1] #change
print("difference of range: ", chnage)
print(xdiff)
Xa = np.mean(xdiff)
d = ((x-Xa)/change)
fd = np.sum(f*d) 
#print(d)
print("Average: ", Xa)
Xcmean = Xa + fd/np.sum(f)
print("Xcmean: ", Xcmean)

difference of range:  10
0     5.0
1    15.0
2    25.0
3    35.0
4    45.0
5    55.0
6    65.0
dtype: float64
Average:  35.0
Xcmean:  34.492805755395686

In [178]:
#Median
n = len(filec)
print(n)

if n%2 == 1:
    Mn = (n+1)/2
    Median = xdiff[Mn-1] #because array starts at 0 and data starts at 1
    print(Median)
elif n%2 == 0:
    Mn = (n/2)
    Median = xdiff[Mn]
    print(Median)

7
35.0